<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="profile" src="./img/profile.jpg" alt="Canberk Uysal" />
        <p>This web application is created with:</p>
        <ul>
            <li>Node.js</li>
            <li>Html</li>
            <li>CSS</li>
            <li>Express</li>
        </ul>
    </div>

    {{>footer}}
</body>

</html>